/* line 1, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
#mobile-wrap {
  display: block;
}

/* line 5, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.projectTitle {
  display: none;
}

/* line 9, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.projectRole {
  display: none;
}

/* line 13, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.client-list a:hover {
  color: #828180;
  cursor: pointer;
}

/* line 18, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.x {
  font-family: sans-serif;
}

/* line 22, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
#images:focus {
  color: #828180;
}

/* line 26, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.info-wrap a:hover {
  color: #828180;
}

/* line 30, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
#information, #services, #contact, #clients, #credits, #social-media {
  margin-top: 7rem;
  font-size: 5.2vw;
  letter-spacing: -0.03em;
  font-family: 'executive55_regular';
  font-variant-ligatures: none;
}

/* line 38, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.info-text {
  font-family: 'executive45_light';
  letter-spacing: -0.03em;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
}

/* line 45, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.about {
  width: 79%;
}

/* line 49, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.client-list {
  padding-top: 2.3em;
}

/* line 53, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.client-list a {
  font-size: 14vw;
  font-family: 'executive55_regular';
  color: #600001;
  margin: 0 auto;
  letter-spacing: -.03em;
  line-height: 0.92em;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
}

/* line 64, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.info-wrap {
  font-family: 'executive45_light';
  font-size: 42px;
  color: #600001;
  letter-spacing: -.03em;
  font-variant-ligatures: none;
}

/* line 72, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.info-byline {
  margin-bottom: 3rem;
}

/* line 76, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
a {
  text-decoration: none;
  color: #600001;
}

/* line 81, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.project-role {
  margin-bottom: 3rem;
}

/* line 85, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.info-2 a:hover {
  color: #828180;
  cursor: pointer;
}

/* line 90, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.info-2 {
  text-align: right;
}

/* line 94, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.wrap {
  padding-bottom: 2.5em;
  margin-top: 3em;
}

/* line 99, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.projects, .info-2 {
  font-family: 'executive45_light';
  font-size: 28px;
  color: #600001;
  letter-spacing: -.02em;
  font-variant-ligatures: none;
}

/* line 107, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.img-responsive.mobile {
  display: none;
}

/* line 111, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/homepage.scss */
.slash {
  display: none;
}
@font-face {
  font-family: 'executive55_regular';
  src: url(/assets/executive-55regular-webfont-e9b7437782a2de99fc40497da7b6384235e6afbcc186ce15fa8ce204f98bf3b0.eot);
  src: url(/assets/executive-55regular-webfont-e9b7437782a2de99fc40497da7b6384235e6afbcc186ce15fa8ce204f98bf3b0.eot?#iefix) format("embedded-opentype"), url(/assets/executive-55regular-webfont-f8a746df48777b9c73f7521a717bbca3f10dfc8b5f38c2e57bb6883bec832bd4.woff2) format("woff2"), url(/assets/executive-55regular-webfont-6eb2d06ce44b9bd7dfe5e423d0f905260cd1bf847354b345787486f5e11bbc74.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: none;
}
@font-face {
  font-family: 'executive45_light';
  src: url(/assets/executive-45light-webfont-3c83da3eab960a549faa21276c71b94248bdbdb579c317c40430eb710c2733a6.woff2) format("woff2"), url(/assets/executive-45light-webfont-a97a51e6807d90514f9675fbc995dfc25332a99428d837e120ac43732257abf0.woff) format("woff"), url(/fonts/executive-45light-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: none;
}
/* line 24, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
html {
  font-size: calc(.5px + 1vw);
}

/* line 26, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
body {
  padding-top: 1.8rem;
  padding-bottom: 1rem;
  padding-right: 4.2rem;
  padding-left: 4.2rem;
  margin-top: 0;
  opacity: 1;
  transition: .5s opacity;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* line 1, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.credit-wrap {
  color: #600001;
  padding-top: 5em;
}

/* line 6, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.ind-project-header {
  text-align: left;
  font-family: 'executive55_regular';
  font-size: 26px;
  letter-spacing: -0.03em;
  padding-bottom: 1.25em;
  font-variant-ligatures: none;
}

/* line 15, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.img-wrap {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3.5em;
}

/* line 21, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.vid-wrap {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1.5em;
}

/* line 27, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.vid-wrap iframe {
  height: 36.5em;
  width: 100%;
  margin-top: 6em;
}

/* line 33, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.object-fit-cover {
  width: 75%;
  object-fit: contain;
}

/* line 38, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.img-wrap img {
  margin-bottom: 10em;
}

/* line 42, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.img-wrap img:last-child {
  margin-bottom: 1.8em;
}

/* line 46, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.img-wrap img:first-child {
  margin-top: 6em;
}

/* line 50, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.ind-project-title {
  text-align: left;
  font-family: 'executive55_regular';
  font-size: 12vw;
  letter-spacing: -0.03em;
  line-height: 0.98em;
  font-variant-ligatures: none;
}

/* line 59, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.ind-role-header {
  text-align: left;
  font-size: 27px;
  letter-spacing: -0.03em;
  padding-top: 1em;
  padding-bottom: 1.25em;
  font-family: 'executive55_regular';
  font-variant-ligatures: none;
}

/* line 69, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.ind-role-title {
  text-align: left;
  font-family: 'executive55_regular';
  font-size: 12vw;
  letter-spacing: -0.03em;
  font-variant-ligatures: none;
}

/* line 77, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.ind-role-title p {
  text-align: left;
  margin-bottom: 0px;
  line-height: 0.98em;
}

/* line 83, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.ind-role-title em {
  color: #828180;
  font-style: normal;
}

/* line 88, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.ind-team-header {
  text-align: left;
  font-size: 27px;
  letter-spacing: -0.03em;
  padding-top: 1em;
  padding-bottom: 1.25em;
  font-family: 'executive55_regular';
  font-variant-ligatures: none;
}

/* line 98, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.ind-team-role {
  text-align: left;
  font-size: 12vw;
  line-height: 0.98em;
  letter-spacing: -0.03em;
  padding-bottom: .45em;
}

/* line 106, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.ind-team-name {
  font-family: 'executive55_regular';
  font-size: 12vw;
  letter-spacing: -0.03em;
  line-height: 0.98em;
  font-variant-ligatures: none;
}

/* line 114, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.credit-wrap p {
  margin: 0;
}

/* line 118, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.credit-wrap {
  text-align: left;
}

/* line 122, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.close-wrap {
  background-color: red;
  float: right;
}

/* line 127, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.close {
  font-size: 28px;
  color: #828180;
  right: 2.7em;
  top: 1.5em;
}

/* line 134, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.close a:hover {
  color: #828180;
  cursor: pointer;
}

/* line 139, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.turbolinks-progress-bar {
  background-color: #600001;
}

/* line 143, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.ind-team-name p {
  line-height: .9em;
}

/* line 147, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/project.scss */
.ind-team-name h1 {
  font-size: 12vw;
  font-weight: lighter;
  margin: 0 auto;
  padding-bottom: .5em;
  padding-top: 0em;
  color: #828180;
}
@media only screen and (max-width: 550px) {

  .hp-img-wrap:nth-child(7n+1) {
    margin: 0 auto!important;
  }

  .hp-img-wrap:nth-child(7n+2) {
    margin: 0 auto!important;
  }

  .hp-img-wrap:nth-child(7n+3) {
    margin: 0 auto!important;
  }

  .hp-img-wrap:nth-child(7n+4) {
    margin: 0 auto!important;
  }

  .hp-img-wrap:nth-child(7n+5) {
    margin: 0 auto!important;
  }

  .hp-img-wrap:nth-child(7n+6) {
    margin: 0 auto!important;
  }

  .hp-img-wrap:nth-child(7n+7) {
    margin: 0 auto!important;
    margin-right: 0em!important;
    margin-left: 0em!important;
  }

  .hp-img-wrap:nth-child(10n+1) p {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  writing-mode: none;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  width: 100%;  }

  .hp-img-wrap:nth-child(10n+2) p {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  writing-mode: none;
  margin: 0 auto;
  text-align: center;
  }

  .hp-img-wrap:nth-child(10n+3) p {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  writing-mode: none;
  margin: 0 auto;
  text-align: center;  }

  .hp-img-wrap:nth-child(10n+4) p {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  writing-mode: none;
  margin: 0 auto;
  text-align: center;
  }

  .hp-img-wrap:nth-child(10n+5) p {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  writing-mode: none;
  margin: 0 auto;
  text-align: center;
  }

  .hp-img-wrap:nth-child(10n+6) p {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  writing-mode: none;
  margin: 0 auto;
  text-align: center;
  }

  .hp-img-wrap:nth-child(10n+7) p {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  writing-mode: none;
  margin: 0 auto;
  text-align: center;
  }

  .hp-img-wrap:nth-child(10n+8) p {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  writing-mode: none;
  margin: 0 auto;
  text-align: center;
  }

  .hp-img-wrap:nth-child(10n+9) p {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  writing-mode: none;
  margin: 0 auto;
  text-align: center;
  }

  .hp-img-wrap:nth-child(10n+10) p {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  writing-mode: none;
  margin: 0 auto;
  text-align: center;
  }
}
@charset "UTF-8";
/* --------- Reponsive 4 web --------- */
@media only screen and (max-width: 550px) {
  /* line 6, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .close {
    font-size: 24px !important;
    right: 0.65em !important;
    top: 0.6em !important;
  }

  /* line 12, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  iframe {
    height: 49.5em !important;
  }

  /* line 16, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  br {
    display: none;
  }

  /* line 20, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .client-list {
    padding-top: 7rem !important;
  }

  /* line 24, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .header {
    padding-top: 2rem !important;
  }

  /* line 28, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  body {
    padding-left: 0.5rem !important;
    padding-right: 1rem !important;
    line-height: 6.3em !important;
  }

  /* line 34, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-wrap img {
    margin-bottom: 5em !important;
    width: 100% !important;
    height: 100% !important;
  }

  /* line 40, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .ind-project-header, .ind-role-header, .ind-team-header {
    font-size: 20px !important;
  }

  /* line 44, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .about {
    width: 100% !important;
  }

  /* line 48, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .about p {
    font-size: 22px !important;
  }

  /* line 52, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  #information, #services, #contact, #clients, #credits, #social-media {
    font-size: 26px !important;
  }
}
/* ---------------- IPAD –-------------------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 64, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  body {
    padding-top: 4em !important;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
    line-height: 5.4em !important;
  }

  /* line 71, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .x {
    font-size: 80px !important;
  }

  /* line 75, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .client-list a {
    font-size: 14vw !important;
  }

  /* line 79, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .client-list {
    padding-top: 7em !important;
  }

  /* line 83, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projects, .info-2 {
    font-size: 48px !important;
  }

  /* line 87, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .object-fit-cover {
    max-height: 620px !important;
    object-fit: contain !important;
  }

  /* line 92, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-wrap img {
    margin-bottom: 9em !important;
    width: 100% !important;
    height: 200% !important;
  }

  /* line 98, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-wrap img:last-child {
    margin-bottom: -1em !important;
  }

  /* line 102, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .close {
    font-size: 60px !important;
    right: 0.9em !important;
    top: 1.4em !important;
  }

  /* line 108, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  #information, #services, #contact, #clients, #credits, #social-media {
    font-size: 7.5vw !important;
  }

  /* line 112, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .ind-project-header, .ind-role-header, .ind-team-header {
    font-size: 50px !important;
  }

  /* line 116, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .about {
    width: 100% !important;
    font-size: 55px !important;
  }
}
/* ---------------- IPHONE 6+ –-------------------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 130, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .info-wrap p {
    font-size: 5vw !important;
  }

  /* line 134, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .header {
    margin-bottom: 0rem !important;
    padding-bottom: 0.2rem !important;
  }

  /* line 139, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  iframe {
    height: 50.5em !important;
    width: 100% !important;
    margin-top: 10em !important;
  }

  /* line 145, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  #services, #information, #clients, #contact {
    font-size: 44px !important;
  }

  /* line 149, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-wrap img {
    width: 100% !important;
  }

  /* line 153, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-wrap img:last-child {
    margin-bottom: -1em !important;
  }

  /* line 157, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  body {
    line-height: 6.3em !important;
  }
}
/* ---------------- IPHONE6 AND 7 –-------------------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 170, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projects.col-6, .info-2.col-6.right {
    font-size: 45px !important;
  }

  /* line 174, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-responsive {
    display: none;
  }

  /* line 178, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .vid-wrap {
    padding-bottom: 0 !important;
  }

  /* line 182, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  iframe {
    height: 50.5em !important;
    width: 100% !important;
    margin-top: 15em !important;
  }

  /* line 188, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .mobile-wrap {
    margin-top: -25px !important;
    margin: 0 auto;
    width: 45% !important;
    margin-bottom: .8em;
    display: block;
  }

  /* line 196, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .title {
    font-size: 45px !important;
  }

  /* line 200, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-responsive.mobile {
    display: block;
    margin: 0 auto;
  }

  /* line 205, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .comma {
    display: none;
  }

  /* line 209, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projectTitle {
    display: block;
    font-size: 45px;
    line-height: 1;
    margin-top: -25px;
  }

  /* line 216, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projectRole {
    display: block;
    font-size: 45px;
    margin-top: 15px;
    line-height: 1;
  }

  /* line 223, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projectRole p {
    margin-top: 0px;
  }

  /* line 227, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  em {
    font-style: normal;
  }

  /* line 231, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projectRole p br {
    display: none;
  }

  /* line 235, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .tc {
    text-align: center;
  }

  /* line 239, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .list-reset {
    width: 100% !important;
  }

  /* line 243, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .info-text p {
    font-size: 57px !important;
    letter-spacing: -0.03em !important;
  }

  /* line 248, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .services-text p {
    font-size: 57px !important;
  }

  /* line 252, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .clients-text p {
    font-size: 57px !important;
  }

  /* line 256, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .contact-text p {
    font-size: 57px !important;
  }

  /* line 260, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .credits-text p {
    font-size: 57px !important;
  }

  /* line 264, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .social-media-text {
    font-size: 57px !important;
  }

  /* line 268, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .ind-project-header, .ind-team-header, .ind-role-header {
    font-size: 57px !important;
  }

  /* line 272, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .object-fit-cover {
    max-height: 800px !important;
    object-fit: contain !important;
    width: 100% !important;
  }

  /* line 278, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-wrap img {
    padding-bottom: 2em !important;
    width: 100% !important;
    height: 500px !important;
  }

  /* line 284, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .header {
    margin-bottom: 4rem !important;
  }

  /* line 288, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  #information, #services, #contact, #clients, #credits, #social-media {
    font-size: 7.5vw !important;
  }

  /* line 292, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .close {
    font-size: 80px !important;
    right: 0.15em !important;
    top: 0.2em !important;
  }

  /* line 298, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-wrap img:last-child {
    margin-bottom: -4.5em !important;
  }

  /* line 302, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-wrap img:first-child {
    margin-top: 16em !important;
  }

  /* line 306, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  body {
    padding-top: -3em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    line-height: 6.3em !important;
  }

  /* line 313, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .project-header {
    font-size: 3vw !important;
  }

  /* line 317, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projects, .info-2 {
    font-size: 40px !important;
  }

  /* line 321, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .client-list {
    padding-top: 9em !important;
  }

  /* line 325, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .about {
    width: 100% !important;
    font-size: 42px !important;
  }

  /* line 330, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  body {
    line-height: 6.3em !important;
  }
}
/* ---------------- IPHONE5 –-------------------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 342, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projects.col-6, .info-2.col-6.right {
    font-size: 38px !important;
  }

  /* line 346, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  #information, #services, #contact, #clients, #credits, #social-media {
    padding-bottom: 14px !important;
  }

  /* line 350, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-responsive {
    display: none;
  }

  /* line 354, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .vid-wrap {
    padding-bottom: 0 !important;
  }

  /* line 358, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  iframe {
    height: 50.5em !important;
    width: 100% !important;
    margin-top: 15em !important;
  }

  /* line 364, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .mobile-wrap {
    margin-top: -25px !important;
    margin: 0 auto;
    width: 70% !important;
    margin-bottom: .8em;
    display: block;
  }

  /* line 372, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .title {
    font-size: 36px !important;
    letter-spacing: -0.03em;
  }

  /* line 377, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-responsive.mobile {
    display: block;
    margin: 0 auto;
  }

  /* line 382, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .comma {
    display: none;
  }

  /* line 386, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .slash {
    display: inline;
    font-size: 36px;
    letter-spacing: -0.03em;
  }

  /* line 392, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projectTitle {
    display: none;
  }

  /* line 396, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projectRole {
    display: block;
    font-size: 36px;
    letter-spacing: -0.03em;
    margin-top: -36px;
    letter-spacing: -0.03em;
    line-height: 1;
  }

  /* line 405, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projectRole p {
    margin-top: 0px;
  }

  /* line 409, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  em {
    font-style: normal;
  }

  /* line 413, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projectRole p br {
    display: none;
  }

  /* line 417, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .tc {
    text-align: center;
  }

  /* line 421, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .nav {
    padding-left: 0 !important;
  }

  /* line 425, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .nav-items {
    margin-top: -1.5rem !important;
  }

  /* line 429, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .ind-project-header, .ind-team-header, .ind-role-header {
    font-size: 50px !important;
  }

  /* line 433, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-wrap img {
    padding-bottom: 3em !important;
    width: 100% !important;
    height: 100% !important;
  }

  /* line 439, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .header {
    margin-bottom: 4rem !important;
  }

  /* line 443, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .close {
    font-size: 80px !important;
    right: 0.82em !important;
    top: 0.82em !important;
  }

  /* line 449, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-wrap img:last-child {
    margin-bottom: -2.5em !important;
  }

  /* line 453, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-wrap img:first-child {
    margin-top: 18em !important;
  }

  /* line 457, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  body {
    padding-right: 2.2rem !important;
    padding-left: 2.2rem !important;
    padding-top: 3rem !important;
    line-height: 6.3em !important;
  }

  /* line 464, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .info-text br {
    display: none !important;
  }

  /* line 468, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .projects, .info-2 {
    font-size: 55px !important;
    letter-spacing: -0.03em !important;
  }

  /* line 473, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .client-list {
    padding-top: 3.5em !important;
  }

  /* line 477, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .about {
    width: 100% !important;
  }

  /* line 481, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .about p {
    font-size: 45px !important;
  }

  /* line 485, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .object-fit-cover {
    max-height: 800px !important;
    object-fit: contain !important;
    width: 100% !important;
  }

  /* line 491, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .img-wrap img {
    padding-bottom: 2em !important;
    width: 100% !important;
    height: 200% !important;
  }

  /* line 497, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/responsive.scss */
  .info-text, .services-text, .clients-text, .social-media-text, .contact-text, .credits-text {
    line-height: 1.22;
    padding-bottom: 16px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


@import "homepage";
@import "project";
@import "responsive";

