@charset "UTF-8";
@font-face {
  font-family: 'executive55_regular';
  src: url(/assets/executive-55regular-webfont-e9b7437782a2de99fc40497da7b6384235e6afbcc186ce15fa8ce204f98bf3b0.eot);
  src: url(/assets/executive-55regular-webfont-e9b7437782a2de99fc40497da7b6384235e6afbcc186ce15fa8ce204f98bf3b0.eot?#iefix) format("embedded-opentype"), url(/assets/executive-55regular-webfont-f8a746df48777b9c73f7521a717bbca3f10dfc8b5f38c2e57bb6883bec832bd4.woff2) format("woff2"), url(/assets/executive-55regular-webfont-6eb2d06ce44b9bd7dfe5e423d0f905260cd1bf847354b345787486f5e11bbc74.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'executive45_light';
  src: url(/assets/executive-45light-webfont-3c83da3eab960a549faa21276c71b94248bdbdb579c317c40430eb710c2733a6.woff2) format("woff2"), url(/assets/executive-45light-webfont-a97a51e6807d90514f9675fbc995dfc25332a99428d837e120ac43732257abf0.woff) format("woff"), url(/fonts/executive-45light-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 550px) {
  /* line 24, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .close {
    font-size: 24px !important;
    right: 0.65em !important;
    top: 0.6em !important;
  }

  /* line 30, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .client-list {
    padding-top: 7rem !important;
  }

  /* line 34, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .header {
    padding-top: 2rem !important;
  }

  /* line 38, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  body {
    padding-left: 0.5rem !important;
    padding-right: 1rem !important;
    line-height: 6.3em !important;
  }

  /* line 44, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .img-wrap img {
    margin-bottom: 5em !important;
    width: 100% !important;
    height: 100% !important;
  }

  /* line 50, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .ind-project-header, .ind-role-header, .ind-team-header {
    font-size: 20px !important;
  }

  /* line 54, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .about {
    width: 100% !important;
  }

  /* line 58, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .about p {
    font-size: 22px !important;
  }

  /* line 62, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  #information, #services, #contact, #clients, #credits, #social-media {
    font-size: 26px !important;
  }
}
/* ---------------- IPAD –-------------------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 75, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  body {
    padding-top: 4em !important;
  }

  /* line 79, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .object-fit-cover {
    max-height: 620px !important;
    object-fit: contain !important;
  }

  /* line 84, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .img-wrap img {
    margin-bottom: 9em !important;
    width: 100% !important;
    height: 200% !important;
  }

  /* line 90, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .img-wrap img:last-child {
    margin-bottom: -1em !important;
  }

  /* line 94, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .close {
    font-size: 40px !important;
    right: 0.9em !important;
    top: 1.4em !important;
  }
}
/* ---------------- IPHONE 6+ –-------------------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 109, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .info-wrap p {
    font-size: 5vw !important;
  }

  /* line 113, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .header {
    margin-bottom: 0rem !important;
    padding-bottom: 0.2rem !important;
  }

  /* line 118, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  #services, #information, #clients, #contact {
    font-size: 44px !important;
  }

  /* line 122, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .img-wrap img {
    width: 100% !important;
  }

  /* line 126, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .img-wrap img:last-child {
    margin-bottom: -1em !important;
  }

  /* line 130, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  body {
    line-height: 6.3em !important;
  }
}
/* ---------------- IPHONE6 AND 7 –-------------------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 142, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .list-reset {
    width: 100% !important;
  }

  /* line 146, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .info-text p {
    font-size: 57px !important;
    letter-spacing: -0.03em !important;
  }

  /* line 151, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .services-text p {
    font-size: 57px !important;
  }

  /* line 155, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .clients-text p {
    font-size: 57px !important;
  }

  /* line 159, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .contact-text p {
    font-size: 57px !important;
  }

  /* line 163, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .credits-text p {
    font-size: 57px !important;
  }

  /* line 167, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .social-media-text {
    font-size: 57px !important;
  }

  /* line 171, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .ind-project-header, .ind-team-header, .ind-role-header {
    font-size: 7vw !important;
  }

  /* line 175, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .object-fit-cover {
    max-height: 800px !important;
    object-fit: contain !important;
  }

  /* line 180, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .img-wrap img {
    padding-bottom: 2em !important;
    width: 100% !important;
    height: 200% !important;
  }

  /* line 186, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .header {
    margin-bottom: 4rem !important;
  }

  /* line 190, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  #information, #services, #contact, #clients, #credits, #social-media {
    font-size: 7.5vw !important;
  }

  /* line 194, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .close {
    font-size: 75px !important;
    right: 0.15em !important;
    top: 0.2em !important;
  }

  /* line 200, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .img-wrap img:last-child {
    margin-bottom: -4.5em !important;
  }

  /* line 204, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .img-wrap img:first-child {
    margin-top: 16em !important;
  }

  /* line 208, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  body {
    padding-top: -3em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* line 214, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .project-header {
    font-size: 3vw !important;
  }

  /* line 218, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .projects, .info-2 {
    font-size: 40px !important;
  }

  /* line 222, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .client-list {
    padding-top: 9em !important;
  }

  /* line 226, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .about {
    width: 100% !important;
    font-size: 42px !important;
  }

  /* line 231, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  body {
    line-height: 6.3em !important;
  }
}
/* ---------------- IPHONE5 –-------------------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 244, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .nav {
    padding-left: 0 !important;
  }

  /* line 248, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .nav-items {
    margin-top: -1.5rem !important;
  }

  /* line 252, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .ind-project-header, .ind-team-header, .ind-role-header {
    font-size: 24px !important;
  }

  /* line 256, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .img-wrap img {
    padding-bottom: 3em !important;
    width: 100% !important;
    height: 100% !important;
  }

  /* line 262, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .header {
    margin-bottom: 4rem !important;
  }

  /* line 266, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .close {
    font-size: 80px !important;
    right: 0.82em !important;
    top: 0.82em !important;
  }

  /* line 272, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .img-wrap img:last-child {
    margin-bottom: -2.5em !important;
  }

  /* line 276, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .img-wrap img:first-child {
    margin-top: 18em !important;
  }

  /* line 280, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  body {
    padding-right: 2.2rem !important;
    padding-left: 2.2rem !important;
    padding-top: 3rem !important;
  }

  /* line 286, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .projects, .info-2 {
    font-size: 55px !important;
    letter-spacing: -0.03em !important;
  }

  /* line 291, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .client-list {
    padding-top: 3.5em !important;
  }

  /* line 295, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .about {
    width: 100% !important;
  }

  /* line 299, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  body {
    line-height: 6.3em !important;
  }

  /* line 303, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .object-fit-cover {
    max-height: 800px !important;
    object-fit: contain !important;
  }

  /* line 308, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
  .img-wrap img {
    padding-bottom: 2em !important;
    width: 100% !important;
    height: 200% !important;
  }
}
/* line 315, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
html {
  font-size: calc(.5px + 1vw);
}

/* line 317, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
body {
  padding-top: 1.8rem;
  padding-bottom: 1rem;
  padding-right: 4.2rem;
  padding-left: 4.2rem;
  margin-top: 0;
  opacity: 1;
  transition: .5s opacity;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 329, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
body.fade-out {
  opacity: 0;
  transition: none;
}

/* line 334, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.info-2 a:hover {
  color: #828180;
  cursor: pointer;
}

/* line 339, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.info-2 {
  text-align: right;
}

/* line 343, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.wrap {
  padding-bottom: 2.5em;
  margin-top: 3em;
}

/* line 348, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.projects, .info-2 {
  font-family: 'executive45_light';
  font-size: 24px;
  color: #600001;
  letter-spacing: -.03em;
}

/* ------------------ INDEX CSS -------------- */
/*.client-list {
  font-size: 12.2vw;
  font-family: "times";
  color: #600001;
  margin: 0 auto;
  letter-spacing: -.04rem;
  margin-bottom: 8rem;
}*/
/* line 365, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.client-list a:hover {
  color: #828180;
  cursor: pointer;
}

/* line 370, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.x {
  font-family: sans-serif;
}

/* line 374, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
#images:focus {
  color: #828180;
}

/* line 378, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.info-wrap a:hover {
  color: #828180;
}

/* line 382, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
#information, #services, #contact, #clients, #credits, #social-media {
  margin-top: 7rem;
  font-size: 5.2vw;
  letter-spacing: -0.03em;
  font-family: 'executive55_regular';
}

/* line 389, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.info-text {
  font-family: 'executive45_light';
  letter-spacing: -0.03em;
  text-rendering: optimizeLegibility;
}

/* line 395, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.about {
  width: 75%;
}

/* line 399, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.client-list {
  padding-top: 2.3em;
}

/* line 403, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.client-list a {
  font-size: 13vw;
  font-family: 'executive55_regular';
  color: #600001;
  margin: 0 auto;
  letter-spacing: -.03em;
  line-height: 0.95em;
  text-rendering: optimizeLegibility;
}

/* line 413, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.info-wrap {
  font-family: 'executive45_light';
  font-size: 42px;
  color: #600001;
  letter-spacing: -.03em;
}

/* line 421, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.info-byline {
  margin-bottom: 3rem;
}

/* line 425, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
a {
  text-decoration: none;
  color: #600001;
}

/* line 430, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.project-role {
  margin-bottom: 3rem;
}

/* INDIVIDUAL PROJECT PAGE CSS */
/* line 436, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.credit-wrap {
  color: #600001;
  text-align: center;
  padding-top: 5em;
  width: 80%;
}

/* line 443, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.ind-project-header {
  /*  font-size: 2.5vw;*/
  font-family: 'executive55_regular';
  font-size: 26px;
  letter-spacing: -0.03em;
  padding-bottom: 4.5vw;
  text-align: center;
}

/* line 452, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.img-wrap {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3.5em;
}

/* line 458, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.object-fit-cover {
  max-height: 550px;
  width: 70%;
  object-fit: contain;
}

/* line 464, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.img-wrap img {
  margin-bottom: 10em;
}

/* line 468, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.img-wrap img:last-child {
  margin-bottom: 1.8em;
}

/* line 472, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.img-wrap img:first-child {
  margin-top: 6em;
}

/* line 476, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.ind-project-title {
  font-family: 'executive55_regular';
  font-size: 12vw;
  letter-spacing: -0.03em;
  line-height: 0.94em;
}

/* line 483, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.ind-role-header {
  /*  font-size: 2.5vw;*/
  font-size: 27px;
  letter-spacing: -0.03em;
  padding-top: 7vw;
  padding-bottom: 4.5vw;
  font-family: 'executive55_regular';
  text-align: center;
}

/* line 493, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.ind-role-title {
  font-family: 'executive55_regular';
  font-size: 12vw;
  letter-spacing: -0.03em;
}

/* line 499, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.ind-role-title p {
  margin-bottom: 0px;
  line-height: 0.94em;
}

/* line 504, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.ind-team-header {
  font-size: 27px;
  letter-spacing: -0.03em;
  padding-top: 7vw;
  padding-bottom: 4.5vw;
  font-family: 'executive55_regular';
  text-align: center;
}

/* line 513, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.ind-team-role {
  font-size: 12vw;
  line-height: 0.94em;
  letter-spacing: 0.006em;
  padding-bottom: .45em;
}

/* line 520, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.ind-team-name {
  font-family: 'executive55_regular';
  font-size: 12vw;
  letter-spacing: -0.03em;
  line-height: 0.94em;
}

/* line 527, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.credit-wrap p {
  margin: 0;
}

/* line 531, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.close-wrap {
  background-color: red;
  float: right;
}

/* line 536, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.close {
  font-size: 28px;
  color: #828180;
  right: 2.7em;
  top: 1.5em;
}

/* line 543, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.close a:hover {
  color: #828180;
  cursor: pointer;
}

/* line 548, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.turbolinks-progress-bar {
  background-color: #600001;
}

/* line 552, /Users/Albert/code/yoonpoon/satomi/app/assets/stylesheets/pages.scss */
.ind-team-name p {
  padding-bottom: .8em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

