  <div class="max-width-12 mx-auto info-wrap">
    <div class="clearfix">
      <div id="information">Information —</div>
        <div class="info-text">
          <%= parse_markdown @nav.about %>
        </div>
      <div id="services">Services include —</div>
        <div class="services text">
          <%= parse_markdown @nav.services %>
        </div>
      <div id="contact">Contact —</div>
        <div class="contact-text">
          <%= parse_markdown @nav.contact %>
          <%= parse_markdown @nav.instagram %>
        </div>
    </div>
  </div>