<div class="header sm-flex items-baseline justify-between">
  <div id="logo">satomi</div>
</div>

<div class="project-header">Projects —</div>
<ul class="client-list list-reset">    
  <% @pages.each do | page | %>
    <li>
    <%= link_to page_path(page.slug) do %>
      <%= page.title %><% unless page == @pages.last %>,<% end%>
    <% end %>
    </li>  
  <% end %>    
</ul>

<%= render 'about' %>