<!-- <div class="header sm-flex items-baseline justify-between">
  <div id="logo"><a href="/">satomi</a></div>
  <div class="nav-items flex items-baseline">
    <div id="button"><a href="/">Index /</a></div>
    <div id="images"><a>&nbspThumbnails /</a></div>
    <div id="contact-link"><a href="#contact">&nbspContact </a></div>
  </div>
</div> -->

<div class="col-0 sm-flex close-wrap">
  <div class="fixed close">
    <a href="/">X</a>
  </div>
</div>

<div class="img-wrap max-width-12 mx-auto">
  <% @page.projectGallery.all? do |asset| %>
  <%= image_tag asset.file.url %>
  <% end %>
</div>

<div class="max-width-12 mx-auto credit-wrap">
  <div class="ind-project-header">Project —</div>
    <div class="ind-project-title"><%= @page.projectTitle %></div>
</div>

<div class="max-width-12 mx-auto credit-wrap">
  <div class="ind-role-header">Role —</div>
  <div class="ind-role-title"><%= @page.role %></div>
</div>

<% if @page.team %>
  <div class="max-width-12 mx-auto credit-wrap">
    <div class="ind-team-header">Team —</div>
    <div class="ind-team-name"> <%= parse_markdown @page.team %></div>
  </div>
<% end %>