@font-face {
  font-family: 'Nimbus Sans D OT';
  src: font-url('NimbusSansDOT-BlacExte.eot');
  src: font-url('NimbusSansDOT-BlacExte.eot?#iefix') format('embedded-opentype'),
    font-url('NimbusSansDOT-BlacExte.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'RiccioneSerial-Light';
  src: font-url('340BC4_6_0.eot');
  src: font-url('340BC4_6_0.eot?#iefix') format('embedded-opentype'), 
    font-url('340BC4_6_0.woff2') format('woff2'), 
    font-url('340BC4_6_0.woff') format('woff');  
  -webkit-font-smoothing: antialiased; 
  -webkit-font-variant-ligatures: unset;
  font-variant-ligatures: none;
  font-feature-settings: none;  
}

@font-face {
    font-family: 'RiccioneSerial-Xlight';
    src: font-url('340BC4_C_0.eot');
    src: font-url('340BC4_C_0.eot?#iefix') format('embedded-opentype'), 
      font-url('340BC4_C_0.woff2') format('woff2'), 
      font-url('340BC4_C_0.woff') format('woff'), 
      font-url('340BC4_C_0.ttf') format('truetype');
}

@font-face {
    font-family: 'RiccioneSerial-XlightItalic';
    src: font-url('340BC4_D_0.eot');
    src: font-url('340BC4_D_0.eot?#iefix') format('embedded-opentype'), 
      font-url('340BC4_D_0.woff2') format('woff2'), 
      font-url('340BC4_D_0.woff') format('woff'), 
      font-url('340BC4_D_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Executive';
  src: font-url('Executive-Light.eot');
  src: font-url('Executive-Light.eot?#iefix') format('embedded-opentype'),
    font-url('Executive-Light.woff') format('woff'),
    font-url('Executive-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;  
}

@font-face {
  font-family: 'Executive';
  src: font-url('Executive-Regular.eot');
  src: font-url('Executive-Regular.eot?#iefix') format('embedded-opentype'),
    font-url('Executive-Regular.woff') format('woff'),
    font-url('Executive-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;    
  text-rendering: optimizeLegibility;  
}

@media only screen and (max-width: 750px) {
  
  .close {
    font-size: 24px!important;
    right: .65em!important;
    top: .6em!important;
  }

  .header {
    padding-top: 2rem!important;
  }

  body {
    padding-left: 1.5rem!important;
    padding-right: 1rem!important;
  }

  .img-wrap img {
    margin-bottom: 5em!important;
    width: 100%!important;
    height: 100%!important;
  }

  .ind-project-header, .ind-role-header, .ind-team-header  {
    font-size: 20px!important;
  }
}

/* ---------------- IPAD –-------------------- */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    body {
      padding-top: 4em!important;
    }

    .object-fit-cover {
      max-height: 620px!important;
      object-fit: contain!important;
    }    

    .img-wrap img {
      margin-bottom: 9em!important;
      width: 100%!important;
      height: 200%!important;      
    } 

    .img-wrap img:last-child {
      margin-bottom: -1em!important;
    }    

    .close {
      font-size: 40px!important;
      right: 0.9em!important;
      top: 1.4em!important; 
    }    

    blockquote {
      margin-bottom: 0.6em!important;
    }
}


/* ---------------- IPHONE 6+ –-------------------- */

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .info-wrap p {
      font-size: 5vw!important;
    }
    
    .header {
      margin-bottom: 0rem!important;
      padding-bottom: .2rem!important;
    }

    #services, #information, #clients, #contact {
      font-size: 44px!important;
    }

    .img-wrap img {
      width: 100%!important;
    }

    .img-wrap img:last-child {
      margin-bottom: -1em!important;
    }
}

/* ---------------- IPHONE6 AND 7 –-------------------- */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
    // .nav {
    //   padding-left: 0!important;
    // }

    .list-reset {
      width: 100%!important;
    }

    .info-text p {
      font-size: 4.5vw!important;
      letter-spacing: 0.13rem!important;
    }

    .services-text p {
      font-size: 4.5vw!important;
    }

    .clients-text p {
      font-size: 4.5vw!important;
    }

    .contact-text p {
      font-size: 4.5vw!important;
    }

    .credits-text p {
      font-size: 4.5vw!important;
    }

    // .nav-items {
    //   margin-top: -1.5rem!important;
    // }

    .ind-project-header, .ind-team-header, .ind-role-header {
      font-size: 4.5vw!important;
    }

    .object-fit-cover {
      max-height: 800px!important;
      object-fit: contain!important;
    }    

    .img-wrap img {
      padding-bottom: 2em!important;
      width: 100%!important;
      height: 200%!important;      
    } 

    .header {
      margin-bottom: 4rem!important;
    }

    #logo {
      font-size: 12vw!important;
    }

    #services, #information, #clients, #contact {
      font-size: 4.5vw!important;
    }

    .close {
      font-size: 75px!important;
      right: 0.15em!important;
      top: 0.2em!important; 
    }

    .img-wrap img:last-child {
      margin-bottom: -4.5em!important;
    }

    .img-wrap img:first-child {
      margin-top: 16em!important;
    } 

    body {
      padding-top: -3em!important;
      padding-left: 0em!important;
      padding-right: 0em!important;
    }

    .project-header {
      font-size: 3vw!important;
    }
}

/* ---------------- IPHONE5 –-------------------- */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2) {
   
    .nav {
      padding-left: 0!important;
    }

    .nav-items {
      margin-top: -1.5rem!important;
    }

    .ind-project-header, .ind-team-header, .ind-role-header {
      font-size: 24px!important;
    }

    .img-wrap img {
      padding-bottom: 3em!important;
      width: 100%!important;
      height: 100%!important;      
    } 

    .header {
      margin-bottom: 4rem!important;
    }
    
    #logo {
      font-size: 12vw!important;
    }

    .close {
      font-size: 80px!important;
      right: .82em!important;
      top: 0.82em!important;
    }

    .img-wrap img:last-child {
       margin-bottom: -2.5em!important;
    }

    .img-wrap img:first-child {
      margin-top: 18em!important;
    }

    body {
      padding-right: 4.8rem!important;
      padding-left: 4.8rem!important;
      padding-top: 3rem!important;
    }

    // .info-wrap {
    //   font-size: 3.6vw!important;
    // }
}

html { font-size: calc(.5px + 1vw) }

body {
  padding-top:.9rem;
  padding-bottom:1rem;
  padding-right: 4.8rem;
  padding-left: 3.5rem;
  margin-top: 0;
  opacity: 1;
  transition: .5s opacity;     
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.header {
  padding-bottom: 2.7vw;
}

#logo {
  font-size: 10vw;
  font-family: "Nimbus Sans D OT";
  letter-spacing: -.25vw;
  color:#600001;
}

#logo a:hover {
  color:#828180;
  cursor: pointer; 
}

.info-2 {
  font-family: 'Executive';
  font-weight: 300;
  color: #600001;
  font-size: 32px;
}

#info-2 a:hover {
  color: #828180;
  cursor: pointer; 
}

.project-title {
  font-family: 'Executive';
  font-weight: 300;
  font-style: normal;
  color: #600001;
  font-size: 24px;
  padding-bottom: 1.5em;
  margin-top: 2em;
}

/* ------------------ INDEX CSS -------------- */
/*.client-list {
  font-size: 12.2vw;
  font-family: "times";
  color: #600001;
  margin: 0 auto;
  letter-spacing: -.04rem;
  margin-bottom: 8rem;
}*/

.client-list a:hover {
    color:#828180;
    cursor: pointer;
}

.x {
  font-family: sans-serif;
}

#images:focus {
  color:#828180;
}

.info-wrap a:hover {
  color: #828180;
}

.info-byline {
  margin-bottom: 3rem;
}

#services, #contact, #clients, #credits, #social-media {
  margin-top: 9.5rem;
  margin-bottom: 5.5rem;
  font-size: 5vw;
  letter-spacing: 0.025em;
  font-family: 'RiccioneSerial-Light';
}

.info-text {
  font-family: 'RiccioneSerial-Xlight';
  letter-spacing: 0.025em;
  text-rendering: optimizeLegibility;
}

.project-header {
  font-family: 'RiccioneSerial-Light';
  font-size: 20px;
  letter-spacing: 0.035em;
  color:#600001; 
  margin-bottom: 3.5rem; 
  letter-spacing: 0.04rem;
}

.client-list a {
  font-size: 14vw;
  // font-family: 'RiccioneSerial-Light';
  font-family: 'Executive';
  color: #600001;
  margin: 0 auto;
  letter-spacing: -.05em;
  line-height: 0.90em;
  font-weight: normal;
  font-style: normal;
}

#information, #services, #clients, #contact {
  margin-top: 8rem;
  margin-bottom: 5.5rem;
  font-family: 'RiccioneSerial-Light';
  letter-spacing: 0.035em;
}

.info-wrap {
  font-family: 'RiccioneSerial-Xlight';
  font-size: 5vw;
  color: #600001;
  letter-spacing: 0.025em;
}

.info-byline {
  margin-bottom: 3rem;
}

a {
  text-decoration:none;
  color: #600001;
}

.project-num {
  font-family: "times";
  font-size: 14px;
  color:#600001; 
  text-align: center;
}

.project-role {
  margin-bottom: 3rem;
}

/* INDIVIDUAL PROJECT PAGE CSS */

.credit-wrap {
  color: #600001;
  text-align: center;
  padding-top: 5em;
  width: 80%;  
}

.ind-project-header {
/*  font-size: 2.5vw;*/
  font-family: 'RiccioneSerial-Light';
  font-size: 32px;
  letter-spacing: 0.035em;
  padding-bottom: 7vw;
  text-align: center;
}

.img-wrap {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3.5em;
}

.object-fit-cover {
  max-height: 550px;
  width: 70%;
  object-fit: contain;
}

.img-wrap img {
  margin-bottom: 10em;
}

.img-wrap img:last-child {
  margin-bottom: 1.8em;
} 

.img-wrap img:first-child {
  margin-top: 9em;
} 

.ind-project-title {
  font-family: 'RiccioneSerial-Light';
  font-size: 11vw;
  letter-spacing: 0.006em;
  line-height: 0.94em;
}

.ind-role-header {
/*  font-size: 2.5vw;*/
  font-size: 32px;
  letter-spacing: 0.035em;
  padding-top: 7vw;
  padding-bottom: 7vw;
  font-family: 'RiccioneSerial-Light';
  text-align: center;
}

.ind-role-title {
  font-family: 'RiccioneSerial-Light';
  font-size: 11vw;
  letter-spacing: 0.006em;
}

.ind-role-title p {
  margin-bottom: 0px;
  line-height: 0.94em;
}

.ind-team-header {
  font-size: 32px;
  letter-spacing: 0.035em;
  padding-top: 7vw;
  padding-bottom: 7vw;
  font-family: 'RiccioneSerial-Light';
  text-align: center;
}

.ind-team-role {
  font-size: 11vw;
  line-height: 0.94em;
  letter-spacing: 0.006em;  
  padding-bottom: .45em;  
}

.ind-team-name {
  font-family: 'RiccioneSerial-Light';
  font-size: 11vw;
  line-height: 0.94em;
  letter-spacing: 0.006em;
}

.credit-wrap p {
  margin: 0;
}

.close-wrap {
  background-color: red;
  float: right;
}

.close {
  font-size: 28px;
  color:#828180;
  right: 2.7em;
  top: 1.5em;
}

.close a:hover {
  color: #828180;
  cursor: pointer;
}

.turbolinks-progress-bar {
  background-color: #600001;
}

em {
  font-family: 'RiccioneSerial-XlightItalic';
  font-size: 11vw;
  letter-spacing: 0.006em;
}

.ind-team-name p {
  padding-bottom: .8em;
}