
@font-face {
    font-family: 'Nimbus';
    src: url(resources/NimbusSansDOT-BlacExte.otf);
    -webkit-font-smoothing: antialiased;
    font-family: 'Executive';
    src: url(resources/Executive-45Light.otf);
    -webkit-font-smoothing: antialiased;    
}

@media (--breakpoint-sm) {
    
/*    body {
      padding: 0!important;
    }

    .index, .grid {
      padding: 0!important;
    }*/

    .grid-item {
      width: 114px!important;
      height:20vh!important;
    }
    /*.nav {
      margin-top: 0!important;
    }*/

    .nav {
      padding-left: 0!important
    }

    .ind-project-header, .ind-team-header, .ind-role-header {
      font-size: 24px!important;
    }

    .img-wrap img {
/*    min-width: 100%!important;
*/    margin-bottom: 3em!important;
      max-width: 100%!important;
    } 

    #logo {
      font-size: 13.3vw!important;
    }

/*    .nav li {
      display: inline-block!important;
    }*/
}

html { font-size: calc(.5px + 1vw) }

body {
  padding-top:1.5rem;
  padding-bottom:1.5rem;
  padding-right: 4.8rem;
  padding-left: 4.8rem;
  font-family: "times";
  letter-spacing: 0.01em;
}

/*input, button, submit
{
  border:none;
  font-size: 18px!important;
  font-family: "times"!important;
  line-height: 18px!important;
  letter-spacing: 0rem!important;
  margin-bottom: 0rem!important;  
}*/

.header {
  padding-bottom: 7vw;
}

#logo {
  font-size: 10vw;
  font-family: "NimbusSansDOT-BlacExte";
  letter-spacing: -.25vw;
  color:#600001;
  clear: both;
}

.nav {
  color:#600001;
}

.nav li {
  font-size: 20px!important;
  font-family: "times"!important;
  letter-spacing: 0rem!important;
  margin-bottom: 0rem!important;
  list-style: none;
  display: inline-block;
/*  margin-top: 36%;*/
}

.project-header {
  font-family: "times";
  font-size: 20px;
  color:#600001; 
  margin-bottom: 3rem; 
}

.client-title {
  font-family: "times";
  font-size: 18px;
  line-height: 0.9rem;
  color:#600001; 
}

.project-title {
  font-family: "times";
  font-size: 18px;
  color:#600001; 
  font-style: italic;
}

.project-role {
  font-family: "times";
  font-size: 13px;
  color:#600001;
}


/* INDEX CSS */
.client-list {
  font-size: 12.2vw;
  font-family: "times";
  color: #600001;
  margin: 0 auto;
  line-height: 10.5rem;
  letter-spacing: -.04rem;
  margin-bottom: 8rem;
}

li:hover {
    color:#828180;
    cursor: pointer;
}

#button:focus {
  color:#828180;
}

#images:focus {
  color:#828180;
}

#information {
  margin-bottom: 5.5rem;
}

.info-wrap {
  font-family: "times";
  font-size: 5vw;
  color: #600001;
}

.info-byline {
  margin-bottom: 3rem;
}

#services, #contact {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
  font-weight: 700;    
}

.project-header {
  font-family: "times";
  font-size: 20px;
  color:#600001; 
  margin-bottom: 3.5rem; 
}

.list-reset {
  font-size: 12.2vw;
  font-family: "times";
  color: #600001;
  margin: 0 auto;
  letter-spacing: -.04rem;
}

#information {
  margin-top: 8rem;
  margin-bottom: 5.5rem;
  font-weight: 700;
}

.info-wrap {
  font-family: "times";
  font-size: 5vw;
  color: #600001;
}

.info-byline {
  margin-bottom: 3rem;
}

a {
  text-decoration:none;
  color: #600001;
}

a:hover {
  color:#828180;
  cursor: pointer;
}


/* THUMBNAIL GRID */

* { box-sizing: border-box; }

/* force scrollbar, prevents initial gap */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  margin:0 auto;
  display: none;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */

.grid-item {
  width: 20%; 
  height:200px;

}

/*.grid-item {
  float: left;
  width: 300px;
  height: 600px;*/
/*  width: 150px;
  height:220px;*/

.grid-item:hover {
  cursor:pointer;
}

.project-num {
  font-family: "times";
  font-size: 14px;
  color:#600001; 
  text-align: center;
}

.project-role {
  margin-bottom: 3rem;
}

.ar-container {
  border: 1px solid red;
  position: relative;
}

.ar-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* INDIVIDUAL PROJECT PAGE CSS */

.credit-wrap {
  font-family: "times";
  color: #600001;
  text-align: center;
  padding-top: 5em;
}

.ind-project-header {
/*  font-size: 2.5vw;*/
  font-size: 32px;
  letter-spacing: 0.01em;
  padding-bottom: 7vw;
}

.img-wrap {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3.5em;
}

.img-wrap img {
  margin-bottom: 9.5em;
  max-width: 99%;
}

.ind-project-title {
  font-size: 12vw;
  font-style: italic;
  line-height: 0.94em;
}

.ind-role-header {
/*  font-size: 2.5vw;*/
  font-size: 32px;
  letter-spacing: 0.01em;
  padding-top: 7vw;
  padding-bottom: 7vw;
}

.ind-role-title {
  font-size: 12vw;
  line-height: 0.94em;
}

.ind-team-header {
  font-size: 32px;
  letter-spacing: 0.01em;
  padding-top: 7vw;
  padding-bottom: 7vw;
}

.ind-team-role {
  font-size: 12vw;
  line-height: 0.94em;
  font-style: italic;
  padding-bottom: .45em;  
}

.ind-team-name {
  font-size: 12vw;
  line-height: 0.94em;
}

.credit-wrap p {
  margin: 0;
  margin-bottom: 6vw;
}

/*.close {
  text-align: right;
  font-size: 28px;
  color:#828180;
}*/

.turbolinks-progress-bar {
  background-color: #600001;
}

/*.class {
  background: image-url('asset.png') no-repeat
}*/


