.fadethisdiv {
  visibility: hidden;
}

.credit-wrap {
  color: #600001;
  text-align: center;
  padding-top: 5em;
  width: 80%;
}

.ind-project-header {
  font-family: 'executive55_regular';
  font-size: 26px;
  letter-spacing: -0.03em;
  padding-bottom: 4.5vw;
  text-align: center;
  font-variant-ligatures: none;
}

.img-wrap {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3.5em;
}

.object-fit-cover {
  width: 70%;
  object-fit: contain;
}

.img-wrap img {
  margin-bottom: 10em;
}

.img-wrap img:last-child {
  margin-bottom: 1.8em;
}

.img-wrap img:first-child {
  margin-top: 6em;
}

.ind-project-title {
  font-family: 'executive55_regular';
  font-size: 12vw;
  letter-spacing: -0.03em;
  line-height: 0.98em;
  font-variant-ligatures: none;
}

.ind-role-header {
  font-size: 27px;
  letter-spacing: -0.03em;
  padding-top: 7vw;
  padding-bottom: 4.5vw;
  font-family: 'executive55_regular';
  text-align: center;
  font-variant-ligatures: none;
}

.ind-role-title {
  font-family: 'executive55_regular';
  font-size: 12vw;
  letter-spacing: -0.03em;
  font-variant-ligatures: none;
}

.ind-role-title p {
  margin-bottom: 0px;
  line-height: 0.98em;
}

.ind-team-header {
  font-size: 27px;
  letter-spacing: -0.03em;
  padding-top: 7vw;
  padding-bottom: 4.5vw;
  font-family: 'executive55_regular';
  text-align: center;
  font-variant-ligatures: none;
}

.ind-team-role {
  font-size: 12vw;
  line-height: 0.98em;
  letter-spacing: -0.03em;
  padding-bottom: .45em;
}

.ind-team-name {
  font-family: 'executive55_regular';
  font-size: 12vw;
  letter-spacing: -0.03em;
  line-height: 0.98em;
  font-variant-ligatures: none;
}

.credit-wrap p {
  margin: 0;
}

.close-wrap {
  background-color: red;
  float: right;
}

.close {
  font-size: 28px;
  color:#828180;
  right: 2.7em;
  top: 1.5em;
}

.close a:hover {
  color: #828180;
  cursor: pointer;
}

.turbolinks-progress-bar {
  background-color: #600001;
}

.ind-team-name p {
  line-height: .9em;
}

.ind-team-name h1 {
  font-size: 12vw;
  font-weight: lighter;
  margin: 0 auto;
  padding-bottom: .8em;
  padding-top: .25em;
  // line-height: 1.15em;
}
