<!DOCTYPE html>
  <head>
    <title>Satomi</title>
    <meta name="keywords"
         content="Design Art Direction Art Branding Satomi">
    <meta name="description"
         content="Satomi is a multifaceted studio specializing in creative direction, communication consultancy, and graphic design for the cultural industries. ">
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/layzr.js/2.0.2/layzr.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>

  <script>
    $(document).ready(function() {
         const instance = Layzr()
    });
  </script>
